<%- include('partials/header') %>
<div class="error-page">
  <h1>403</h1>
  <p>This is a private room. You need a valid invite link to enter.</p>
  <a href="/chat" class="btn btn-primary">Go to rooms</a>
</div>
<%- include('partials/footer') %>
